body {
    background-color: #faf7cf;
    font-family: Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	    font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 5pt;
        margin-bottom: 5pt;
}
h1 {
    font-size: 40pt;
}
p {
    font-family: Arial, sans-serif;
    text-align: left;
}
img {
		border: 5px outset lightblue;
		padding: 2px;
}
table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 75%;
        font-family: Arial, sans-serif;
}
th {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        background-color: lightblue;
}
td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
        background-color: lightyellow;
        font-style: italic;
}
.standardtext {
    font-family: Ariel, sans-serif;
    font-size: 14pt;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.columnnarrow {
    flex: 25%;
    margin: 20px;
}
.columnwide {
    flex: 75%;
    margin: 20px;
}
.column{
    flex: 50%;
    margin: 20px;
}

.row {
    display: flex;
}
.button {
    background-color: lightblue;
    border: 2px solid black;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    margin: 2px 1px;
    cursor: pointer;
    position: sticky;
}

/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/